body{
    width:1000px;
}
h1{
    text-align: center;
    margin-bottom: 5%;
}
caption{
    margin-top:10%;
    margin-bottom: 5%;
}
table
{
    width:400px;
    border:2px lightblue solid;
    margin:0 auto;
}
tr,
th{
    width:150px;
    text-align: center;
}
th{
    background-color: lightblue;
}
table p{
    margin-bottom: -5%;
}
#deck{
    /*width:400px;*/
    margin-top:5%;
    text-align: center;
}
